.app {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  padding: 15px;
  background-color: #eeeeee;
}

.search-box {
  margin: 10px 0;


}

.results-box {
  padding: 10px 20px;
  width: 80%;
  border: 1px solid black;
}
